doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title ClipBoard
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    body
        main
            #index-banner.section.no-pad-bot
                .container
                    .row.center
                            p.flow-text Error 404  File does not exist
            .section.no-pad-bot
                .container
                    .row.center
                        button.btn.indigo.waves-effect.waves-light(onclick="window.location.href='/'")
                                    | Return   
                             
        footer.page-footer.indigo
            .footer-copyright
                .container
                    | Made by 
                    a.deep-purple-text.text-lighten-3(href='http://materializecss.com') Materialize
        // Scripts
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='js/materialize.js')


