doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
        title ClipBoard
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    body
        main
            #index-banner.section.no-pad-bot
                .container
                    .row.center
                       h1 Terms and Conditions ("Terms")
                            p.flow-text Last updated: December 04, 2016
                            p.flow-text
                                | Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.clipboard.host website (the "Service") operated by Clipboard ("us", "we", or "our").
                            p.flow-text
                                | Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.
                            p.flow-text
                                | By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms and Conditions was created based on 
                                a(href='https://termsfeed.com/terms-conditions/') the Terms and Conditions from TermsFeed
                                | .
                            p.flow-text
                                strong Links To Other Web Sites
                            p.flow-text
                                | Our Service may contain links to third-party web sites or services that are not owned or controlled by Clipboard.
                            p.flow-text
                                | Clipboard has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Clipboard shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                            p.flow-text
                                | We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                            p.flow-text
                                strong Termination
                            p.flow-text
                                | We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                            p.flow-text
                                | All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                            p.flow-text
                                strong Changes
                            p.flow-text
                                | We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                            p.flow-text
                                | By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.                    
                            p.flow-text
                                strong User Uploaded Content
                            p.flow-text Certain sections of our Sites allow you to submit or upload files for viewing by the general public (collectively “User Uploaded Content”).

                                |You are responsible for User Uploaded Content. Any User Uploaded Content is the sole responsibility of the person who made such User Uploaded Content available on our Sites. Under no circumstances will we be liable in any way for any User Uploaded Content posted to our Sites. Such User Uploaded Content may be posted on or accessed through our Site in our sole discretion. 
                                |Because we do not control the User Uploaded Content posted on our Sites, we cannot and do not warrant or guarantee the truthfulness, integrity, suitability, or quality of that User Uploaded Content. You also agree and understand that by accessing our Site, you may encounter User Uploaded Content that you may consider to be objectionable. We have no responsibility for any User Uploaded Content, including without limitation any errors or omissions therein. We are not liable for any loss or damage of any kind you claim was incurred as a result of the use of any User Uploaded Content posted, e-mailed, transmitted or otherwise made available on our Site, whether by us, individual users of the Site, or our third party contractors or licensors. 

                                
                                |Without limiting the generality of the foregoing grant of license, by posting User Uploaded Content on or through our Sites, you are granting us (and downstream users) permission to (i) display advertisements in connection with User Uploaded Content and to use User Uploaded Content for advertising and promotional purposes without compensating you in any way and (ii) to make User Uploaded Content available to the general public through our Sites and in any other manner, in or using any format or media or technology, now known or hereafter developed, without compensating you in any way. 

                                |We may disclose and/or remove User Uploaded Content. We reserve the right at all times to disclose any User Uploaded Content or information as is necessary to satisfy any law, regulation or governmental request. We also reserve the right, but do not assume the obligation, to remove any User Uploaded Content, in whole or in part, without notice and for any reason, including, without limitation, User Uploaded Content that is objectionable or in breach of these Terms and Conditions, in our sole discretion. In addition, we reserve the right, but do not assume the obligation, to terminate your access to and use of any of our Sites, or to censor, edit or block your transmissions thereto, in our sole discretion. You agree that the exercise of us of such discretion shall not convert or transform User Uploaded Content to Content owned or provided by us, and the user who made such User Uploaded Content available on the Sites will retain ownership thereof as described above. 
                              p.flow-text
                                  strong Restrictions on User Uploaded Content.
                              p.flow-text It is a condition of these Terms and Conditions that you do not: 
                                |post or transmit any unlawful, threatening, abusive, harassing, libelous, defamatory, profane, misleading, racially disparaging, User Uploaded Content of any kind, including, without limitation, any transmission constituting or encouraging conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any local, state, national or foreign law;
                                |post or transmit any User Uploaded Content which violates or infringes upon the rights of others, including User Uploaded Content which violates the copyrights, trademark rights, privacy rights, publicity rights, trade secret rights, confidentiality rights, contract rights, or any other rights of any individual, living or deceased, or any legal entity;
                                |post or transmit any User Uploaded Content that contains the image, name or likeness of anyone other than yourself, unless (i) that person is at least eighteen years old and you have first obtained his/her express permission or (ii) that person is fewer than eighteen years old but you are his/her parent or legal guardian;
                                |post or transmit any User Uploaded Content soliciting any personal or private information from any individual;
                                |post or transmit any User Uploaded Content which contains a virus or other harmful component; or
                                |post or transmit any User Uploaded Content which contains advertising, promotions or marketing, or which otherwise has a commercial purpose.

                                |By posting User Uploaded Content, you represent and warrant that (i) you own or otherwise control all of the rights to the User Uploaded Content you post and have the right to grant the license set forth in these Terms and Conditions; (ii) the User Uploaded Content you post is accurate, and (iii) you are at least eighteen years old and you have read and understood—and your User Uploaded Content fully complies with—these Terms and Conditions and applicable laws and will not cause injury to any person or entity. 
                               p.flow-text 
                                    strong Limitation of liability
                               p.flow-text THE WEBSITE SERVICE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE WEBSITE OR THE USE OR OTHER DEALINGS IN THE WEBSITE.
            .section.no-pad-bot
                .container
                    .row.center
                        button.btn.indigo.waves-effect.waves-light(onclick="window.location.href='/'")
                                    | Accept and return 
                                    
                             
        footer.page-footer.indigo
            .footer-copyright

        // Scripts
        script(src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(src='js/materialize.js')


